<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCPdCHJoaaU6-NBrzCT7MebWrY-9Sgmfs</string>
	<key>GCM_SENDER_ID</key>
	<string>125912347323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controlUserDesignDf</string>
	<key>PROJECT_ID</key>
	<string>david-flutteracademy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>david-flutteracademy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125912347323:ios:a03a78285448350c9fef9e</string>
</dict>
</plist>